* {
    background-color: rgb(148, 16, 209)
}

body {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 200px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: rgb(250, 248, 248);
    color: rgb(9, 9, 9);
    display: block;
}

div {
    width: 200px;
    height: 400px;
}

button {
    
    background-color: #be4cdd;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}